---
import { ShopItem } from '../types';
import AddToCart from '../add-to-cart/add-to-cart';
function formatCurrency(amount: number) {
  return new Intl.NumberFormat('en-GB', {
    style: 'currency',
    currency: 'GBP',
  }).format(amount);
}

// Astro support top level await by default
const result = await fetch(
  'https://astro-frontend-masters-api.netlify.app/api/products'
);

if (!result.ok) {
  console.error(result);
}

const shopItems: ShopItem[] = await result.json();
---

<section class="shop-items">
  {shopItems.map((item) => {
    return (
      <div>
        <div class="item">
          <img src={item.image.src} alt={item.image.alt} />
          <h2>{item.title}</h2>
          <div>{item.description}</div>
          <div class="price">{formatCurrency(item.price)}</div>
          <AddToCart client:only="react" item={item} />
        </div>
      </div>
    )
  })}
</section>

<style>
  .shop-items {
    display: flex;
    gap: 3rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }

  .item {
    width: 250px;
  }

  .item img {
    aspect-ratio: 1;
    border-radius: 0.125rem;
    display: block;
    width: 100%;
  }

  .item h2 {
    font-size: 1.125rem;
    margin: 0.75rem 0 0;
  }

  .item p {
    margin: 0.25rem 0 0;
  }
</style>
